/* Цвет основгоно текска #212121 */
/* цвет футера фон  #2F303A */
/* мыло  телефон  футер rgba(255, 255, 255, 0.6)  адресс #FFFFFF*/
/* мыло  телефон  футер rgba(255, 255, 255, 0.6) */
/* цвет кнопок и активных ссылок при наведении #2196F3 */
:root {--primary-text-color: #212121;
--second-text-color: #757575;
--focus-hover-active-color: #2196F3;
--text-footer-textbtn : #FFFFFF;
--fon-footer-h1 :#2F303A;
--mail-tel:rgba(255, 255, 255, 0.6);
 }
.link  {
    text-decoration: none;
    color: inherit;
}
ul {list-style :none;}
/* разметка хедера  */
/*логотип  */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo .acent-logo {color:var(--focus-hover-active-color);}
.logo {color:var(--primary-text-color);}

.body-list {
    color:var(--primary-text-color);
}

/* навигация */


.header-list .link:hover,
.header-list .link:focus,
.header-list .link.current {
    color: var(--focus-hover-active-color);}

.header-list .item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav .link {
    color: var(--second-text-color);
}



