/*цвет хедера фон #FFFFFF  */
/* цвет боди фон #E5E5E5 */
/* цвет в нутри карточек #EEEEEE */
/* Цвет основгоно текска #212121 */
/* цвет второстипенного текста #757575 */
/* цвет футера фон  #2F303A */
/* мыло  телефон  футер rgba(255, 255, 255, 0.6)  адресс #FFFFFF*/
/* цвет фона кнопок фильтра #F5F4FA */
/* цвет кнопок и активных ссылок при наведении #2196F3 */
:root {--primary-text-color:#212121;
    --color-body-fon: #E5E5E5; 
    --second-text-color:#757575 ;
    
 }
.header .a { color: #212121  }
.ul {syle-list :none;}